.table{
    /* margin-top: 2px; */
    background-color: rgb(248, 248, 241);
    margin-left: -1px;
    background-color: blanchedalmond ;
    /* background-color: white ; */
    
}
.table td {
    
   border: 2px solid black;
   text-align: center;
   
  
}
.table th {
   border: 2px solid black;
   text-align: center;
   border-top: none;
   font-weight: bold;
}
.all{
    margin: 10px;
    font-family: 'Bree Serif', serif;
    color: red;
    
    background-color: rgb(248, 248, 241);
}
.head {
    border: 2px solid rgb(69, 144, 179);
    border-left: 15px solid rgb(69, 144, 179);;
    width: 100%;
    margin: auto;
    font-family: 'Bree Serif', serif;
    border-radius: 7px;
    background-color: blanchedalmond ;
    /* background-color: white; */
   
}

.name {
    padding: 3px 12px;
}
#name1{
    color: rgb(22, 23, 24);
    font-size: 45px;
    font-weight: bold;
    
 
}
.hr{
    width: 100%;
    margin: auto;
}
#im{
   padding-left: 12px;
    font-size: 60px;

    
    /* padding: 2px; */
}
    

.adress {
    padding-top: 5px;
    padding-left: 25px;

}

.phone {
    padding-top: 0px;
    padding-left: 25px;
}
#ph{
    font-weight: bold;
    font-size: large;
}

.email {
    padding-top: 0px;
    padding-left: 25px;
    padding-bottom: 20px;
}

.body {
    background-color: blanchedalmond ;
    /* background-color: white ; */
 
  
    border: 2px solid rgb(69, 144, 179);
    border-left: 15px solid rgb(69, 144, 179);
    width: 100%;
    margin: auto;
    margin-top: 9px;
    border-radius: 7px;

  
}
.full{
    margin: 12px 12px;
    background-color: blanchedalmond ;
    /* background-color: white; */

    
}
#p1{
    padding: 10px 15px ;
}

.sub{
    border-bottom: 2px solid black;
    background-color: rgb(169, 174, 177);
    /* background-color: rgb(198, 220, 230);; */
    color: black;
  
  
    font-size: large;
    font-weight: bold;
    padding: 3px 12px;
    border-radius: 7px;
   
}

.main{
    margin: 12px 12px;
    /* border: 2px solid black; */
    /* background-color: rgb(248, 248, 241); */
    
    border-radius: 7px;
}
     
.lan{
    display: flex;
}
.lan li{
    width: 100%;
    margin-left: 30px;

   
}
#mar1{
   
    padding-left: 99px;
    padding-right: 25px;
}
#mar2{
   
    padding-left: 137px;
    padding-right: 25px;
}
#mar3{
   
    padding-left: 127px;
    padding-right: 25px;
}
#mar4{
   
    padding-left: 180px;
    padding-right: 25px;
}

/* utility class */
.center{
    text-align: center;
}
.font{
    font-family: 'Bree Serif', serif;
}
